Ed25519 tester

# Tester
The test vectors from [RFC8032 Section 7.1](https://datatracker.ietf.org/doc/html/rfc8032#section-7.1) should be sufficient. Section 9.2 contains references with many more test vectors.